*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-transform: capitalize;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: black;
}
#box{
    width: 100px;
    height: 300px;
}