*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}
html,body{
  width: 100%;
  height: 600vh;
  background-color: black;
  padding: 15px;
}
#shape{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(219, 66, 91);
}