*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}
.navbar{
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url("amazon_logo.jfif");
    background-size: cover;
}
.border{
    border:2px white transparent;
}
.border:hover , .nav-address:hover{
    border:1.5px white solid;
}

/*
second box of nav's 
*/
.nav-address{
margin: 5px 2px 2px 5px;
height: 30px;
padding: 10px;
}
.add-first{
color:#cccccc;
font-size:1rem;
margin-left:12px ;
}
.add-second{
color:#ffffff;
font-size: 1rem;
margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/*third nav box */
.nav-search{
    display: flex;
    width: 600px;
    background-color: rgb(117, 114, 112);
    border-radius: 5px;
    height: 40px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid rgb(255, 140, 0);
}
.select-search{
    background-color: #ffffffa5;
    width:80px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border:none;
}
.input-search{
    width: 100%;
    font-size:1rem;
    border:none;
    text-align: center;
    color:#0f1111;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(252, 150, 8);
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color:#0f1111;

    .nav-search{
        border: 2px solid rgb(255, 174, 0);
    }
}
/*box 4 */
span{
    font-size: .8rem;
}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

/* box 5*/
.nav-cart i{
    font-size: 2rem;
}
.nav-cart{
    font-weight:200 ;
}

/*panel*/
.panel{
    color: #cccccc;
    height: 39px;
    background-color: #222f3d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.panel-all{
    padding: 10px;
}
.panel-ops{
    width: 70%;
    font-size: 14px;
}
.panel-ops p{
    display: inline;
    padding: 10px;
}
.panel-ops a{
    text-decoration: none;
    color: #cccccc;  
}
.panel-deals{
    padding: 10px;
}

/*hero-section*/
.hero-section{
    height: 300px;
    background-image: url("Hero.jpg");
    background-size: cover;
    font-size: 0.85rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    top:5rem;
    width: 100%;
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-bottom: 1rem;

}
.hero-msg a{
    color: #2162A1;
}

/* shop section*/
.shop-section{
   height: 60rem;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: baseline;
   flex-wrap: wrap;
   background-color: #8ae7ab7c;
}
.box{
    height: 15rem; 
    width: 25%;
    background-color: white;
    padding:0.5rem 1rem 1rem 0.5rem;
}
.box-img{
    height: 80%;
    background-size: cover;
    margin: 0.3rem;
    border-radius: 5px;
}
.box p{
    color:#2162A1;
}

/*footer*/
.foot-panel1{
    height: 30px;
    background-color: #273b27;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    height: 180px;
    background-color: rgba(0, 0, 0, 0.867);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.foot-panel2 ul p{
    font-size: 20px;
}
.foot-panel2 ul a{
    display: block;
    color: white;
    text-decoration: none;
    line-height: 1.5pc;
}

.foot-panel3{
    background-color: #0f1111;
    border: 1.5px solid rgb(246, 243, 243);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
    height: 50px;
    background-image: url('amazon_logo.jfif');
}

.foot-panel4{
    height: 50px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4 .pages a{
    text-decoration: none;
    color: white;
}

.box{
    border-radius: 15px;
    padding: 20px;
    margin:5px;
    align-items: center;
}